<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/qaahm/Documents/POMSession/src/test/java/com/automationexercise/testcases">
        <classes>
            <class name="com.automationexercise.testcases.LoginTest">
                <methods>
                    <include name="shouldBeAbleToLogin"/>
                    <include name="tc2"/>
                </methods>
            </class>
            <class name="com.automationexercise.testcases.ProductQuantityTest">
                <methods>
                    <include name="shouldBeAbleToReadQty"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>